# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/



# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp
*.bak