@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 20px;
  padding: 20px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
